.jumbotron-heading {
    text-align: center;
    color: #ffffff !important;
}
.jumbotron{
    background-color: #374457;
}

.style-div{
    padding-left: 35%;
}
.custom-btn {
    background-color: #00afa6 !important;
    border-color: #00afa6 !important;
    text-transform: uppercase !important;
    letter-spacing: 2.5px !important;
    font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'sans-serif' !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
}
.genre-div{
    display: inline-block;
    border: 1px solid #999;
    padding: 2px 5px;
}
.jk-rating-stars-container .star-button.star-on .material-icons {
    font-size: 25px !important;
}
.jk-rating-stars-container .star-button.star-off .material-icons {
    font-size: 25px !important;
}
tr.ng-scope:focus{
    outline: none;
}
.genre-detail{
    width: 25%;
}
md-toolbar{
    height:0px;
}
h3>i{
    padding-right:15px
}
h4  >i{
    padding-right:15px
}
md-dialog-content{
    overflow: hidden;
}
div > button {
    width: 185px;
}

div > ul {
    width: 185px;
}